body{
    /* background-image: url("https://cdn.pixabay.com/photo/2016/09/12/08/22/breakfast-1663295__480.jpg"); */
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    /* background-clip: ; */
}
h1,p{
    text-align: center;
}
.aa{
   font-size: small; 
}
.abc{
    font-size:  30px;
}
a{
    font-size: 300;
    padding-top: 20%;
    align-items: center;
}
div{
    margin: 10%;
    text-align: center;
    font-size: large;
}
.aaa{
    font-size: 300%;
}
.b{
    font-size: 150%;
}
